<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" href="/css/main.css"/>
</head>
<body>

{% block header %}{% endblock %}
{% block sectionTop %}{% endblock %}
{% block sectionBottom %}{% endblock %}

<footer>
	{% block footer %}{% endblock %}
</footer>

<script src="/js/main.js"></script>
</body>
</html>
